body {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul li {
    position: relative;
    display: flex;
    margin: 0 auto;
    left: -25px;
    padding: 5px;
}

li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-right: 5px;
}

li span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 1em;
    color: white;
    text-align: left;
    line-height: 50px;
    width: 300px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    background-color: lightgray;
}

li .filled {
    background-color: black;
}